html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.navbar-top {
	margin-bottom: 0;
}

.navbar-admin .navbar-collapse {
	display: flex!important;
	justify-content: center;
}

.navbar-admin .navbar-nav > li {
	padding: 0 15px;
}

.form-control.multi-string__row__select {
	display: inline;
    width: auto;
}

.control-label.multi-string__label {
	display: block;
}

.multi-string__row{
	margin-bottom: 8px;
}

.multi-string__row__icon{
	margin-left: 10px;
	cursor: pointer;
}

.btn-disabled:disabled {
    color: #999;
}

/*---------------------------------*/
/*-------Главная страница----------*/

.book {
    padding: 0 15px 30px 5px;
    margin-bottom: 35px;
    flex-basis: 48%;
    min-width: 420px;
    border-bottom: solid #aaa 1px;
    position: relative;
}

.book__header__h {
    margin: 0;
    display: inline-block;
}

.book__header__status_id-status_1 {
    color: #6DCA6D;
}

.book__header__status {
    font-size: 11pt;
    margin-left: 6px;
    display: inline-block;
}

.book__header__status_id-status_2 {
    color: #E0976A;
}

.book__authors {
    font-size: 11.5pt;
    color: #888;
}

.book__desc {
    margin: 0 0 4px 10px;
    font-size: 16px;
    word-wrap: break-word;
}

.book__authors__name:not(:last-child):after {
    content: ",";
    font-weight: bold;
    font-size: 12pt;
    margin-right: 5px;
}

.books {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.book:after {
    margin-top: 10px;
    width: 100%;
    display: block;
    position: relative;
    left: -5px;
}

.books-count {
    margin-bottom: 10px;
    font-size: 12pt;
}

.books-count__number {
    font-weight: bold;
}

.book__bottom__buttons {
    padding-right: 5px;
}

.book__bottom {
    height: 30px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.book__bottom__buttons {
    margin-bottom: 2px;
}

/*-------Главная страница----------*/
/*---------------------------------*/
/*-------Выданные книги------------*/

.issued-book {
    margin-bottom: 25px;
    padding: 0 0 10px 5px;
    border-bottom: solid #aaa 1px;
}

.issued-book__content {
    display: inline-block;
    width: 500px;
}

.issued-book__content__button {
    float: right;
}

.issued-book__content__user__name {
    font-weight: bold;
    margin-right: 8px;
    word-wrap: break-word;
}

.issued-book__content__user {
    max-width: 390px;
    display: inline-block;
}
/*-------Выданные книги------------*/
/*---------------------------------*/


.books .pagination {
    flex-basis: 100%;
}